<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.vincentlaroche.framebase.screenshot-intake</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>__REPO__/script/ingest_screenshots.sh</string>
	</array>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>3</integer>
		<key>Minute</key>
		<integer>15</integer>
	</dict>
	<key>StandardOutPath</key>
	<string>__HOME__/Library/Logs/Framebase/screenshot-intake.log</string>
	<key>StandardErrorPath</key>
	<string>__HOME__/Library/Logs/Framebase/screenshot-intake.log</string>
</dict>
</plist>
